/* Resetting default padding and margin */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff; /* Added background color */
    color: #333333; /* This sets the text color to white for contrast */
    /* ... other styles ... */
}

header {
   /* background-color: #65737e; /* Header background */
    font-family:  'Playfair Display', Georgia, serif;
    color: #fff;
    display: flex;
    justify-content: center; /* Center navigation links */
    align-items: center;
    padding: 20px 5%;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  /*  background-color: #333; /* Or any color you prefer */
    z-index: 1000; /* Ensures the header stays on top of other content */
    /* Rest of your styles for .site-header */
}

.header-title {
    font-size: 14px; /* Adjust the size as needed */
    font-weight: bold; /* Makes the title bold */
    margin: 0; /* Removes default margin from h1 */
    /* Additional styles if needed */
    position: absolute;
    left: 10%;
}

.logo {
    position: absolute; /* Position logo absolutely to the top left */
    left: 6.5%;
    top: 0px;
}

.logo img {
    height: 3.9vw; /* Adjust the size as necessary */
}

/* Add this style to remove underline from logo link */
.logo a {
    text-decoration: none;
}

.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation ul li { /* Adjust spacing in header line */
    padding: 0 20px;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-size: .8em;
}

.header-scrolled {
    background-color: #084F62; /* or any color you wish to change to */
    transition: background-color 0.3s; /* Smooth transition for color change */
}


.video-banner {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: auto;
    overflow: hidden;
    
}

.video-banner video {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Ensure it's behind any text or other elements */
}

.video-banner .video-overlay {
    font-family:  'Playfair Display', Georgia, serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 715px; /* Example fixed height - controls height of overlay */
    display: flex;
    justify-content: center; /* This centers the content horizontally */
    align-items: flex-end; /* This aligns the content to the bottom */
    color: #fff;
    background: rgba(0, 0, 0, 0.3); /* Dark overlay for better readability */
    padding: 0px; /* Add some padding at the bottom */
}


/* Ensure the video is responsive */
@media (min-aspect-ratio: 16/9) {
    .video-banner video {
        height: 100%;
        width: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-banner video {
        width: 100%;
        height: auto;
    }
}


/* Updates Section Styles */
.updates-section {
    /*background: url('goldbackground.jpg') no-repeat center center; */
    background-size: cover;
    background-color: #000; /* Light background for the section */
    margin-top: -90px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center; /* Center-align the heading and view all link */
}

.updates-section h2 {
    margin-bottom: 20px;
    margin-top: 30px;
    color: #fff
}

.updates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Creates a responsive grid */
    gap: 20px; /* Space between grid items */
    padding-bottom: 60px; /* Space below the grid */
}

.update-item {
    background-color: #fff; /* White background for each item */
    padding: 5px;
    border-radius: 10px; /* Rounded corners for each item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow */
    color: #000
}

.update-item img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 5px; /* Space below the image */
}

.update-item h3 {
    font-size: 1.1em;
    margin-bottom: 5px; /* Space below the title */
}

.update-date {
    font-size: 0.9em;
    color: #666; /* A darker grey for the date */
}

.update-item a.update-link {
    display: block;
    color: inherit; /* This makes sure the text inside the link uses the inherited text color */
    text-decoration: none; /* This removes the underline from the link */
}

.update-item a.update-link:hover,
.update-item a.update-link:focus {
    background-color: #a7adba; /* This changes the background color on hover for visual feedback */
    outline: none; /* This removes the outline that browsers might add on focus */
}

.main-content {
  /*background: url('possiblebackground.png') no-repeat center center; */
  background-size: cover;
  color: #fff; /* Color of the text */
  background-color: #000;
  text-align: left;
  padding: 150px 20px; /* Adjust the padding as needed */
  margin-top: -99px;
}


.view-all-updates {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #333; /* Dark background for the button/link */
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Full height */
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto; /* Expand to fill available space */
}

.site-footer {
    text-align: right; /* Align text to the right */
    background-color: #000; /* Change as needed */
    color: #fff; /* Change as needed */
    padding: 10px;
    margin-top: 200px; /* Push footer to the bottom */
}

/* Ensure the body and html take up the full height */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Ensuring main content pushes the footer down */
.main-content {
    min-height: calc(100vh - /* Height of your footer */); 
}

/* Optional: Responsive adjustment for smaller screens */
@media screen and (max-width: 600px) {
    .site-footer {
        text-align: center; /* Center-align text for smaller screens */
    }
}
